<div class="content">

    <div class="mg">

        <p class="all">

            <span>全部</span><a href="{:url('Shoplist/index')}">&nbsp;女士内衣/</a><a href="{:url('Shoplist/index')}">男士内衣/</a><a href="{:url('Shoplist/index')}">家居服<span ></span></a>

        </p>



        <div class="underwear">

            <ul>

                <li>

                    <span>内衣：</span>

                    <dl>

                        <dd>

                            <a href="{:url('Shoplist/index')}">睡衣/家居服</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">情侣睡衣</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">秋衣秋裤</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">保暖内衣</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">吊带/背心</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">打底衫</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">情趣内衣</a>

                        <dd>

                    </dl>

                    <p class="more">更多</p>

                    <ul class="more_down">

                        <li>

                            <a href="###">更多</a>

                        </li>

                        <li>

                            <a href="###">更多</a>

                        </li>

                        <li>

                            <a href="###">更多</a>

                        </li>

                    </ul>

                </li>

                <li>

                    <span>人群：</span>

                    <dl>

                        <dd>

                            <a href="{:url('Shoplist/index')}">男士</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">女士</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">儿童</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">情侣</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">亲子</a>

                        </dd>

                    </dl>

                    <p class="multiple">

                        <a class="###">多选 <i>+</i></a>

                    </p>

                </li>

                <li>

                    <span>季节：</span>

                    <dl>

                        <dd>

                            <a href="{:url('Shoplist/index')}">夏季</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">秋季</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">冬季</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">春季</a>

                        </dd>

                        <dd>

                            <a href="{:url('Shoplist/index')}">四季</a>

                        </dd>

                    </dl>

                    <p class="multiple">

                        <a class="###">多选 <i>+</i></a>

                    </p>

                </li>

                <li>

                    <span>高级选项：</span>

                    <dl>

                        <dd>

                            <a href="{:url('Shoplist/index')}">材质</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                        <dd>

                            <a href="{:url('Prodetails/index')}">袖长</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                        <dd>

                            <a href="{:url('Prodetails/index')}">款式</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                        <dd>

                            <a href="{:url('Prodetails/index')}">是否可外穿</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                        <dd>

                            <a href="{:url('Prodetails/index')}">厚度</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                        <dd>

                            <a href="{:url('Prodetails/index')}">价格</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                        <dd>

                            <a href="{:url('Prodetails/index')}">组合形式</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                        <dd>

                            <a href="{:url('Prodetails/index')}">风格</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                        <dd>

                            <a href="{:url('Prodetails/index')}">其它分类</a>

                            <ol class="down">

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                                <li>

                                    <a href="{:url('Shoplist/index')}">材质</a>

                                </li>

                            </ol>

                        </dd>

                    </dl>

                    <p class="multiple">

                        <a class="###">多选 <i>+</i></a>

                    </p>

                </li>

            </ul>

        </div><!--underwear end-->

        <div class="ad">

            <h1>

                商品精选

                <span>广告</span>

            </h1>

            <ul>

                <li>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad01.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad02.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad03.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="pro_details">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad04.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad05.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad06.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad07.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad08.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad09.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>



                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad10.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

            </ul>

        </div><!--ad end-->

        <div class="shop_list">

            <div class="top">

                <ul>
                    <li class="on">

                        <a href="###">综合排序</a>

                    </li>

                    <li>

                        <a href="###">销量</a>

                    </li>

                    <li>

                        <a href="###">价格</a>

                    </li>

                    <li>

                        <a href="###">评论数</a>

                    </li>

                    <li>

                        <a href="###">新品</a>

                    </li>
                </ul>





                <a class="next_rig" href="###"><img src="__STATIC__/home/img/shop_list_right.png"></a>

                <a class="pre_lef" href="###"><img src="__STATIC__/home/img/shop_list_left.png"></a>

                <p>共<strong>111.8万件商品</strong> <span><i>1</i>/100</span></p>

            </div><!--top end-->

            <div class="bot">

                <div class="adres">

                    <span>配送至</span>

                    <p id="address"><i>北京朝阳区三环以内 </i></p>

                    <ul id="add_down">
                        <li>北京朝阳区二环以内</li>

                        <li>北京朝阳区一环以内</li>

                        <li>北京朝阳区三环以内</li>
                    </ul>

                </div>

                <ul class="send">

                    <li>

                        <label class="c-checkbox">

                            <input type="checkbox">

                            <span></span>

                            <i>顺风配送</i>

                        </label>

                    </li>

                    <li>

                        <label class="c-checkbox">

                            <input type="checkbox">

                            <span></span>

                            <i>货到付款</i>

                        </label>

                    </li>

                    <li>

                        <label class="c-checkbox">

                            <input type="checkbox">

                            <span></span>

                            <i>仅显示有货</i>

                        </label>

                    </li>

                </ul>

                <div class="ser">

                    <a href="###">确定</a>

                    <input type="text" placeholder="在结果中搜索">

                </div>

            </div><!--bot end-->

            <div class="shop">

                <ul>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop01.png"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop02.png"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop0.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop04.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop05.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop06.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop07.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop08.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop09.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop10.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop11.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop12.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop13.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop14.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop15.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop16.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop17.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop18.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop19.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>

                    <li>



                        <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/shop20.jpg"></a>

                        <p>￥129.00</p>

                        <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                        <p>套装 卡通熊 女L(165/95)</p>

                        <p>已有<strong>1400+</strong>人评价</p>

                        <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                        <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                    </li>



                </ul>

            </div><!---shop end-->

            <div class="page">

                <ul>

                    <li><a href="###"> << 上一页</a></li>

                    <li class="on"><a href="###">1</a></li>

                    <li><a href="###">2</a></li>

                    <li><a href="###">3</a></li>

                    <li>...</li>

                    <li><a href="###">下一页 >></a></li>

                    <li>共100页，</li>

                    <li>

                        到第<input type="text" value="1">页

                    </li>

                    <li>

                        <a href="###">确定</a>

                    </li>

                </ul>

            </div><!--page end-->

            <ul class="find">

                <li>您是不是想找</li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        睡衣女秋

                    </a>

                </li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        亲子睡衣

                    </a>

                </li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        睡衣女纯棉

                    </a>

                </li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        秋装女

                    </a>

                </li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        男士睡衣

                    </a>

                </li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        真丝睡衣

                    </a>

                </li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        连体睡衣

                    </a>

                </li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        睡衣女

                    </a>

                </li>

                <li>

                    <a href="{:url('Shoplist/index')}">

                        夏睡裙

                    </a>

                </li>

            </ul>

            <div class="ser_bot">

                <input type="text" placeholder="睡衣女">

                <a class="btn" href="###">搜索</a>

            </div>

        </div>

    </div><!--mg end-->

    <div class="comfir">

        <div class="mg">

            <ul>

                <li>

                    <img src="__STATIC__/home/img/com_01.png">

                    100%正品保证

                </li>

                <li>

                    <img src="__STATIC__/home/img/com_02.png">

                    新人首单免邮

                </li>

                <li>

                    <img src="__STATIC__/home/img/com_03.png">

                    7天无理由退换货

                </li>

                <li>

                    <img src="__STATIC__/home/img/com_04.png">

                    首次退换货免邮

                </li>

            </ul>

        </div>

    </div>

</div>

</div><!--content end-->