{__NOLAYOUT__}
<!DOCTYPE html>

<html>

	<head>

		<meta charset="UTF-8">

		<title>支付成功</title>

		<link rel="stylesheet" href="__STATIC__/home/css/bootstrap.css" />

		<link rel="stylesheet" href="__STATIC__/home/css/comon.css" />

		<link rel="stylesheet" href="__STATIC__/home/css/style.css" />

		<link rel="stylesheet" href="__STATIC__/home/css/pay_success.css"/>

		<script type="text/javascript" src="__STATIC__/home/js/jquery-1.11.0.js" ></script>

		<script type="text/javascript" src="__STATIC__/home/js/comfirm_order.js" ></script>

		<script type="text/javascript" src="__STATIC__/home/js/quit.js" ></script>

	</head>

	<body>

		<!--header-->

		<div class="header">

			<div class="header-top">

				<div class="mg">

					<h1 class="pull-left"><a href="index.html">欢迎来到康丽妍!</a></h1>

					<a href="login.html" class="login pull-left" id="login"><i>请登录</i> <span>|</span></a>

					<a href="register.html" class=" regist"> 免费注册</a>

					<a href="login.html" class="quit"><span>|</span> 安全退出</a>

					<ul class="  pull-right">

						<li>

							<a href="order.html">我的订单</a>

							<dl>

								<dd>

									<a href="order.html">我的订单</a>

								</dd>

								<dd>

									<a href="order.html">我的订单</a>

								</dd>

							</dl>

						</li>

						<li><a href="user.html">会员中心</a></li>

						<li><a href="###">企业采购</a></li>

						<li>

							<a href="###">客户服务</a>

							<dl>

								<dd>

									<a href="###">客户服务</a>

								</dd>

								<dd>

									<a href="###">客户服务</a>

								</dd>

							</dl>

						</li>

						<li>

							<a href="###">网站导航</a>

							<dl>

								<dd>

									

									<a href="###">网站导航</a>

								</dd>

								<dd>

									<a href="###">网站导航</a>

								</dd>

							</dl>

	

						</li>

					</ul>

				</div>

			</div><!--header_top end-->

			<div class="header_content">

				<div class="mg">

					<a href="index.html" class="pic"><img src="__STATIC__/home/img/logo_03.png" alt="图片无法加载"></a>

					<div class="search pull-right" >

						<input type="text"placeholder="睡衣女">

						<a href="###" class="search_text">搜索</a>

						

					</div>

				</div>

			</div><!--header_content end-->

		</div><!--header end-->

		<div class="content">

			<div class="mg">

				<div class="pay_mes">

					<h1>

						你已成功付款

						<i>￥ &nbsp;307.00</i>

						<span>含康丽妍商城积分抵扣￥ 0.00</span>

					</h1>

					<ul>
						<li>

							收货地址：<span>小明 广东 广州市 天河区 车陂南楼小区中山大道车陂路口 138****8000</span>

						</li>

						<li>

							<a href="order.html">查看已买到的宝贝</a>

							<a href="order_details.html">查看交易详情</a>

						</li>

						<li>

							分享刚入手的好宝贝 &nbsp;&nbsp;&nbsp;&nbsp;<a href="###"><img src="__STATIC__/home/img/weibo.jpg"></a>

							<a href="###"><img src="__STATIC__/home/img/qq.jpg"></a>

							<a href="###"><img src="__STATIC__/home/img/rere.jpg"></a>

						</li>
					</ul>

					<div class="pay_text">

						<h2>

							交易成功后将获得：<i>商城积分：50</i> &nbsp; <a href="###">查看详情</a>

						</h2>

						<p>加入康丽妍商城俱乐部，即可获得免费退换机会！<a href="###">立即加入</a></p>

						<p>您有712积分将在12月31日清零！  <a href="###"> 兑换超值商品</a></p>

					</div>

				</div><!--pay_mess end-->

				<div class="pro">

					<div class="swich_top">

						<ul>

							<li class="on"><a href="###">猜你喜欢</a></li>

							<li><a href="###">我的关注</a></li>

							<li><a href="###">最近浏览的</a></li>

						</ul>	

					</div>

					<div class="swich_con">

						

							<ul>

								<li class="on">

									<dl>

										<dd>

											<a href="pro_details.html"><img src="__STATIC__/home/img/pay_s_01_03.jpg"></a>

											<h1>

												<a href="pro_details.html">卡托古依 2016春秋季韩版长袖睡

													衣女套装秋季款卡通宽松加大码牛</a>

											</h1>

											<p>￥ 79.00</p>

											<a class="shop_car" href="shop_cart.html">

												加入购物车

											</a>

										</dd>

										<dd>

											<a href="pro_details.html"><img src="__STATIC__/home/img/pay_s_02_03.jpg"></a>

											<h1>

											<a href="pro_details.html">卡托古依 2016春秋季韩版长袖睡

											衣女套装秋季款卡通宽松加大码牛</a>

											</h1>

											<p>￥ 79.00</p>

											<a class="shop_car" href="shop_cart.html"> 

												加入购物车

											</a>

										</dd>

										<dd>

											<a href="pro_details.html"><img src="__STATIC__/home/img/pay_s_03_03.jpg"></a>

											<h1>

												<a href="pro_details.html">卡托古依 2016春秋季韩版长袖睡

													衣女套装秋季款卡通宽松加大码牛</a>

											</h1>

											<p>￥ 79.00</p>

											<a class="shop_car" href="shop_cart.html">

												加入购物车

											</a>

										</dd>

										<dd>

											<a href="pro_details.html"><img src="__STATIC__/home/img/pay_s_04_03.jpg"></a>

											<h1>

												<a href="pro_details.html">卡托古依 2016春秋季韩版长袖睡

													衣女套装秋季款卡通宽松加大码牛</a>

											</h1>

											<p>￥ 79.00</p>

											<a class="shop_car" href="shop_cart.html">

												加入购物车

											</a>

										</dd>

										<dd>

											<a href="pro_details.html"><img src="__STATIC__/home/img/pay_s_05_03.jpg"></a>

											<h1>

												<a href="pro_details.html">卡托古依 2016春秋季韩版长袖睡

													衣女套装秋季款卡通宽松加大码牛</a>

											</h1>

											<p>￥ 79.00</p>

											<a class="shop_car" href="shop_cart.html">

												加入购物车

											</a>

										</dd>

										<dd>

											<a href="pro_details.html"><img src="__STATIC__/home/img/pay_s_05_03.jpg"></a>

											<h1>

												<a href="pro_details.html">卡托古依 2016春秋季韩版长袖睡

													衣女套装秋季款卡通宽松加大码牛</a>

											</h1>

											<p>￥ 79.00</p>

											<a class="shop_car" href="shop_cart.html">

												加入购物车

											</a>

										</dd>

									</dl>

									<a href="###" class="pre" id="pre"></a>

									<a href="###" class="next" id="next"></a>

								</li>

								<li>

									我的关注

								</li>

								<li>

									最近浏览的

								</li>

							</ul>

						

					</div>

				</div><!--pro end-->

			</div><!--mg end-->

			<div class="comfir">

				<div class="mg">

					<ul>

						<li>

							<img src="__STATIC__/home/img/com_01.png"> 

							100%正品保证

						</li>

						<li>

							<img src="__STATIC__/home/img/com_02.png"> 

							新人首单免邮

						</li>

						<li>

							<img src="__STATIC__/home/img/com_03.png"> 

							7天无理由退换货

						</li>

						<li>

							<img src="__STATIC__/home/img/com_04.png"> 

							首次退换货免邮

						</li>

					</ul>

				</div>

			</div>

		</div>

		</div><!--content end-->

{include file="public/footer"}

