

<div class="content">

    <div class="mg">

        <p><a href="shop_list">全部<span></span></a><a href="shop_list">睡衣<span></span></a><a href="shop_list">睡衣女<span></span></a></p>

        <div class="pro_img">

            <div id="small_box" class="small_box">

                <img src="__STATIC__/home/img/pro_details_01.jpg" class="big_pic">

                <div class="ret" id="box01"></div>

            </div>

            <div class="big_box" id="box"></div>

            <ul class="swich" id="swich_pic">

                <li>

                    <img src="__STATIC__/home/img/pro_details_.jpg" class="img-responsive">

                </li>

                <li>

                    <img src="__STATIC__/home/img/pro_details_03.jpg" class="img-responsive">

                </li>

                <li>

                    <img src="__STATIC__/home/img/pro_details_04.jpg" class="img-responsive">

                </li>

                <li>

                    <img src="__STATIC__/home/img/pro_details_05.jpg" class="img-responsive">

                </li>

                <li>

                    <img src="__STATIC__/home/img/pro_details_06.jpg" class="img-responsive">

                </li>

                <li>

                    <img src="__STATIC__/home/img/pro_details_06.jpg" class="img-responsive">

                </li>

            </ul>

            <a class="pre" href="###"></a>

            <a  class="next" href="###"></a>

            <div class="share">

                <ol>

                    <li>

                        <a href="###">分享</a>

                    </li>

                    <li>

                        <a href="###">收藏商品（889人气）</a>

                    </li>

                    <li>

                        <a href="###">举报</a>

                    </li>

                </ol>

            </div>

        </div>

        <div class="pro_int">

            <h1 id="pro_name">秋泓齐 春秋季长袖可爱猫头鹰睡裙 韩版卡通女人宽松家居服睡裙</h1>

            <div class="price">

                <h2><span>购物券</span>全康丽妍商城通用<a href="###">商城优惠券</a></h2>

                <p >价格<i id="price">¥ 328.00</i></p>

                <p>促销价<i>¥<strong id="pro_price">41.00</strong></i><span>16年冬款</span></p>

            </div>

            <ul class="send_mon">

                <li>运费</li>

                <li>江苏苏州  &nbsp;至 &nbsp;</li>

                <li>

                    <p>广州</p> <span class="glyphicon glyphicon-menu-down" ></span>

                    <dl>

                        <dd>广州</dd>

                        <dd>广州</dd>

                        <dd>广州</dd>

                        <dd>广州</dd>

                    </dl>

                </li>

                <li>快递：0.00</li>

            </ul>

            <p class="sale"><span>月销量<i>3666</i></span><span>累计评价<i>9888</i></span><span>送积分<i>98</i></span></p>

            <p class="size" id="pro_size">

                尺码

                <span class="on">160（M）</span>

                <span >165（L）</span>

                <span>170（XL）</span>

            </p>

            <p class="color" id="pro_color">

                颜色分类

                <a href="###" class="on"><img src="__STATIC__/home/img/color_01_16.jpg">
                    
                </a>
                
                <a href="###"><img src="__STATIC__/home/img/color_02_16.jpg"></a>
                <!-- <div><span>粉色</span></div> -->

            </p>

            <p class="num">

                数量

                <input type="text" value="1" id="pro_num"><span class="add glyphicon glyphicon-menu-up"></span><span class="sub glyphicon glyphicon-menu-down"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件<i>库存889件</i>

            </p>

            <a class="buy" href="comfirm_order.html">立即购买</a>

            <a href="javascript:void(0);" class="shop_car" onclick="shopping()" ><span><img src="__STATIC__/home/img/pro_shop.png"></span>加入购物车</a>

            <ul class="serv">

                <li>服务承诺</li>

                <li>正品保证</li>

                <li>极速退款</li>

                <li>赠送运费</li>

                <li>

                    <p>支付方式</p><span class="glyphicon glyphicon-menu-down" ></span>

                    <dl>

                        <dd>支付宝</dd>

                        <dd>支付宝</dd>

                    </dl>

                </li>

                <li>七天无理由退换</li>

            </ul>

        </div><!--pro_int end-->

        <div class="look">

            <h1>

                <span>看了又看</span>

            </h1>

            <ul>

                <li>

                    <a href="{:url('Prodetails/index')}">

                        <img src="__STATIC__/home/img/look_01.jpg">

                    </a>

                    <p>

                        ￥39.00

                    </p>

                </li>

                <li>

                    <a href="{:url('Prodetails/index')}">

                        <img src="__STATIC__/home/img/look_02.jpg">

                    </a>

                    <p>

                        ￥39.00

                    </p>

                </li>

                <li>

                    <a href="{:url('Prodetails/index')}">

                        <img src="__STATIC__/home/img/look_03.jpg">

                    </a>

                    <p>

                        ￥39.00

                    </p>

                </li>

                <li>

                    <a href="{:url('Prodetails/index')}">

                        <img src="__STATIC__/home/img/look_04.jpg">

                    </a>

                    <p>

                        ￥39.00

                    </p>

                </li>

            </ul>

            <a class="pre" href="###"></a>

            <a class="up" href="###"></a>

        </div><!--look end-->

        <div class="match">

            <h1>搭配优惠</h1>

            <ul>
                <li>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/dp01.jpg"></a>

                    <label class="c-true">

                        <input type="checkbox">

                        <span>价格￥328.00</span>

                    </label>

                </li>

                <li>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/dp02.jpg"></a>

                    <label>

                        <input type="checkbox">

                        <span>价格￥328.00</span>

                    </label>

                    <p>+</p>

                </li>

                <li>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/dp03.jpg"></a>

                    <label>

                        <input type="checkbox">

                        <span>价格￥328.00</span>

                    </label>

                    <p>+</p>

                </li>

                <li>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/dp04.jpg"></a>

                    <label>

                        <input type="checkbox">

                        <span>价格￥328.00</span>

                    </label>

                    <p>+</p>

                </li>
            </ul>

            <p class="combo">

                套餐价：<i>￥88.00</i><span>省￥289.00</span>

            </p>

            <p class="price">

                价格：<i>￥328.00</i>

            </p>

            <a class="buy_once" href="pay.html">立即购买</a>

            <a class="join" href="###">加入购物车</a>

        </div><!--match end-->

        <div class="ad">

            <ul>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad01.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad02.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad03.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad04.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad05.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad06.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad07.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad08.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad09.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

                <li>

                    <h1>

                        商品精选

                        <span>广告</span>

                    </h1>

                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/ad10.jpg" class="img-responsive"></a>

                    <p>¥128.00</p>

                    <a href="{:url('Prodetails/index')}">芊之雅秋天韩版居家服<i>睡衣女</i>纯棉长袖套装秋冬季</a>

                    <p>已有<strong>367</strong>人评价</p>

                </li>

            </ul>

        </div><!--ad end-->

        <div class="shop_details">

            <ul class="top">

                <li class="on">

                    <a href="javascript:void(0)">商品详情</a>

                </li>

                <li>

                    <a href="javascript:void(0)">累计评价 <span>8889+</span></a>

                </li>

            </ul>

            <div class="option">

                <ul class="opt_con">

                    <li>

                        <div class="par">

                            <p>产品参数：</p>

                            <dl>

                                <dd>上市时间: 2016年秋季</dd>

                                <dd>适用对象: 女</dd>

                                <dd>款号: GT373</dd>

                                <dd>面料俗称: 纯棉</dd>

                                <dd>领型: 圆领</dd>

                                <dd>适用季节: 秋季</dd>

                            </dl>

                            <dl>

                                <dd>销售渠道类型: 纯电商(只在线上销售)</dd>

                                <dd>颜色分类: 丈青条纹长袖睡裙 黑条纹长袖</dd>

                                <dd>面料主材质: 棉</dd>

                                <dd>图案: 条纹</dd>

                                <dd>袖长: 长袖</dd>

                                <dd>家居服风格: 简约</dd>

                            </dl>

                            <dl>

                                <dd>适用场景: 休闲家居</dd>

                                <dd>面料材质成分: 棉100%</dd>

                                <dd>尺码: 160(M) 165(L) 170(XL)</dd>

                                <dd>成分含量: 95%以上</dd>

                                <dd>服装款式细节: 印花</dd>

                                <dd>裙长: 长裙</dd>

                            </dl>

                        </div>

                        <img src="__STATIC__/home/img/shop_bigpic.jpg" class="shop_pic">

                        <div class="infor">

                            <h1>

                                INSTRUCTIONS<span>购物须知</span>

                            </h1>

                            <h2>

                                <i>重要提醒：</i>收货是请务必在快递员在场的情况下 <strong>拆包确认签收。</strong>

                            </h2>

                            <p>若快递补同意先确认后签收，应当签字后立即在快递员在场的情况下拆包检查，有问题请当时通过电话

                                联系客服。<span>正常签收反应的外观破损情况下，我们将补给予赔偿。</span></p>

                            <p class="send">

                                递送须知

                            </p>

                            <p>江浙沪1-2天，其它地区3-5天，周日补休息照常，我们尽可能将你所购买的货品第一时间寄出

                                我司默认合作快递 <i>中通快递</i> ，普通快递无法送达的地区一律发<i>邮政EMS</i></p>

                            <p>

                                如需加急运送，可选择 <i>顺丰快递</i>，全国大中城市22元起价，超出首重部分将按实际收取！

                                处于物品安全及运送，效率考虑，本商城步伐平邮件，望广大顾客朋友们理解支持！

                            </p>

                        </div>

                    </li>

                    <li>

                        <h1 class="eva">

                            商品评价

                        </h1>

                        <p class="good_eva">

                            好评度<span>97<i>%</i></span>

                        </p>

                        <ol>

                            <li>面料不错（1063）</li>

                            <li>衣服不错（863）</li>

                            <li>颜色好看（1688）</li>

                            <li>大小合适（963）</li>

                            <li>样式不错（103）</li>

                            <li>老婆喜欢（1063）</li>

                            <li>还可以（163）</li>

                            <li>物流很快（1063）</li>

                        </ol>

                        <ul class="all_eva">

                            <li>全部评价（3500+）</li>

                            <li>晒图（77）</li>

                            <li>追评（888）</li>

                            <li>好评（3500+）</li>

                            <li>中评（350+）</li>

                            <li>差评（50+）</li>

                            <li>

                                <label class="c-checkbox" all>

                                    <input type="checkbox">

                                    <span></span>

                                    <i>只看当前商品价格</i>

                                </label>

                            </li>

                            <li>

                                推荐排序 <span  class="glyphicon glyphicon-menu-down"></span>

                                <dl>

                                    <dd>

                                        <a href="###">排序</a>

                                    </dd>

                                    <dd>

                                        <a href="###">排序</a>

                                    </dd><dd>

                                    <a href="###">排序</a>

                                </dd>

                                </dl>

                            </li>

                        </ul>

                        <div class="assess">

                            <ul>

                                <li>

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <div class="img">

                                                <img src="__STATIC__/home/img/eva01.jpg">

                                                <img src="__STATIC__/home/img/eva02.jpg">

                                                <img src="__STATIC__/home/img/eva03.jpg">

                                            </div>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                    <div class="eva_det">

                                        <div class="left">

                                            <p>

                                                <img src="__STATIC__/home/img/comm01.jpg">

                                                <span>哪***辟</span>

                                            </p>

                                            <p>铜牌会员</p>

                                        </div>

                                        <div class="cent">

                                            <p>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                                <span><img src="__STATIC__/home/img/comm02.jpg"></span>

                                            </p>

                                            <p>

                                                没有色差尺码也正好，图案很可爱之前买过质量不错特别柔软，好评！

                                            </p>

                                            <ul>

                                                <li>物流很快</li>

                                                <li>面料不错</li>

                                                <li>颜色好看</li>

                                                <li>大小合适</li>

                                            </ul>

                                            <p>

                                                <span>小熊开衫 </span>

                                                <span>女L(165/95)   </span>

                                                <span>2016-10-25 15:24 </span>

                                                <span>购买8天后评价 </span>

                                            </p>

                                            <p class="notes">0</p>

                                            <p class="praise">0</p>

                                        </div>

                                    </div><!--eva_det-->

                                </li>

                                <li>

                                    晒图

                                </li>

                                <li>

                                    追评

                                </li>

                                <li>

                                    好评

                                </li>

                                <li>

                                    中评

                                </li>

                                <li>

                                    差评

                                </li>

                            </ul>

                        </div>

                        <div class="page" id="page">

                            <ul>

                                <li>

                                    <a href="###">1</a>

                                </li>

                                <li>

                                    <a href="###">2</a>

                                </li>

                                <li>

                                    <a href="###">3</a>

                                </li>

                                <li>

                                    <a href="###">4</a>

                                </li>

                                <li>

                                    <a href="###">5</a>

                                </li>

                                <li>

                                    <a href="###">6</a>

                                </li>

                                <li>

                                    <a href="###">7</a>

                                </li>

                                <li>

                                    ...

                                </li>

                                <li>

                                    <a href="###">下一页</a>

                                </li>

                            </ul>

                        </div><!--page end-->

                        <div class="like">

                            <h1>

                                猜你喜欢

                            </h1>

                            <ul>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse01.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse02.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse03.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse04.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse05.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse06.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse07.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse08.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                                <li>



                                    <a href="{:url('Prodetails/index')}"><img src="__STATIC__/home/img/guse09.jpg"></a>

                                    <p>￥129.00</p>

                                    <h2><a href="{:url('Prodetails/index')}">依迪婷<i>睡衣女</i>秋长袖卡通可爱加大码棉居服</a></h2>

                                    <p>套装 卡通熊 女L(165/95)</p>

                                    <p>已有<strong>1400+</strong>人评价</p>

                                    <a href="###" class="succ_sub">月成交 <span>5891笔</span></a>

                                    <img src="__STATIC__/home/img/user_start.jpg" class="start"/>

                                </li>

                            </ul>

                        </div>

                    </li>

                </ul>

            </div><!--option end-->

        </div><!--shop_details end-->

    </div><!--mg end-->

    <div class="comfir">

        <div class="mg">

            <ul>

                <li>

                    <img src="__STATIC__/home/img/com_01.png">

                    100%正品保证

                </li>

                <li>

                    <img src="__STATIC__/home/img/com_02.png">

                    新人首单免邮

                </li>

                <li>

                    <img src="__STATIC__/home/img/com_03.png">

                    7天无理由退换货

                </li>

                <li>

                    <img src="__STATIC__/home/img/com_04.png">

                    首次退换货免邮

                </li>

            </ul>

        </div>

    </div>

</div>

</div><!--content end-->
        <script type="text/javascript" src="__STATIC__/home/js/pro_details.js" ></script>
        <script type="text/javascript" src="__STATIC__/home/js/comments.js" ></script>
<script>

    function shopping(){
        var pro_name = $('#pro_name').text();
        var price = $('#price').text();
        var pro_price =$('#pro_price').text();
        var pro_size =$('#pro_size .on').text();
        var pro_color = $('#pro_color .on img').attr('src');
        var pro_num = $('#pro_num').val();
        var url = "{:url('Shopcart/addPost')}";
        var data = {
            "pro_name":pro_name,
            "price":price,
            "pro_price":pro_price,
            "pro_size":pro_size,
            "pro_color":pro_color,
            "pro_num":pro_num,
        }
        // console.log(data);
        $.ajax({
            type:'post',
            url:url,
            data:data,
            typeData:'json',
            success:function(data){
                if (data.code==1) {
                    alert(data.mgs);
                    window.location.reload();
                }else if(data.code==2){
                    alert(data.mgs);
                }
            }
        })

    }
</script>